name: Build

on:
  push:
  pull_request:

jobs:
  build:
    container: ghcr.io/hackern64/hackerbuild:main
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - name: "Debug, No F3DEX3"
            args: DEBUG_FEATURES=1 CPP_DEFINES=-DENABLE_F3DEX3=0
            version: gc-eu-mq-dbg
          - name: "Debug, F3DEX3"
            args: DEBUG_FEATURES=1 CPP_DEFINES=-DENABLE_F3DEX3=1
            version: ntsc-1.2
          - name: "Release, No F3DEX3"
            args: DEBUG_FEATURES=0 CPP_DEFINES=-DENABLE_F3DEX3=0
            version: ntsc-1.2
          - name: "Release, F3DEX3"
            args: DEBUG_FEATURES=0 CPP_DEFINES=-DENABLE_F3DEX3=1
            version: gc-eu-mq-dbg
    defaults:
      run:
        shell: bash
    
    name: ${{ matrix.name }}

    steps:
    # Checkout the repository (shallow clone)
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    # Set Git config
    - name: Git config
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    # Copy the original files to the workspace
    - name: Prepare
      run: cp -R /HackerOoT/baseroms .

    # Install the required pip packages
    - name: Setup Python
      run: |
        python3 -m pip install --user colorama ansiwrap attrs watchdog python-Levenshtein "mapfile-parser>=1.2.1,<2.0.0" "rabbitizer>=1.0.0,<2.0.0"
        python3 -m pip install --upgrade attrs pycparser

    # Setup the project
    - name: Setup
      run: make setup -j$(nproc)

    # Build the project
    - name: Build
      run: ${{ matrix.args }} make -j$(nproc) VERSION=${{ matrix.version }}
